<a href="https://colab.research.google.com/github/an17121110/tta/blob/master/shopee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data= pd.read_json('/content/Dataset for Multi-Channel Contacts Problem (1).zip')

In [4]:
data.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

# Mục mới

In [5]:
data.describe()

                  Id       Contacts
count  500000.000000  500000.000000
mean   249999.500000       1.996094
std    144337.711634       1.412825
min         0.000000       0.000000
25%    124999.750000       1.000000
50%    249999.500000       2.000000
75%    374999.250000       3.000000
max    499999.000000       4.000000

In [6]:
data.columns

Index(['Id', 'Email', 'Phone', 'Contacts', 'OrderId'], dtype='object')

In [7]:
data_email=data[['Id','Email']]
data_phone=data[['Id','Phone']]
data_order=data[['Id','OrderId']]

In [8]:
def drop_na(d):
  return d.dropna()
data_email=drop_na(data_email)
data_phone=drop_na(data_phone)
data_order=drop_na(data_order)

In [9]:
l1=data[data['Email']!=''].merge(data_email, on='Email', how='left' )
l1=l1[l1['Id_x']!=l1['Id_y']][['Id_x','Id_y']]

In [10]:
l2=data[data['Phone']!=''].merge(data_phone, on='Phone', how='left' )
l2=l2[l2['Id_x']!=l2['Id_y']][['Id_x','Id_y']]

In [11]:

l3=data[data['OrderId']!=''].merge(data_order, on='OrderId', how='left' )
l3=l3[l3['Id_x']!=l3['Id_y']][['Id_x','Id_y']]

In [12]:
l4=l1.merge(l2, right_on='Id_x',left_on='Id_x', how='inner')
l5=l2.merge(l3, right_on='Id_x',left_on='Id_x', how='inner')
l6=l1.merge(l3, right_on='Id_x',left_on='Id_x', how='inner')

In [26]:
l1.merge(l2, on='Id_x', how='outer')

          Id_x    Id_y_x    Id_y_y
0            6      38.0       NaN
1            6   32871.0       NaN
2            6  142067.0       NaN
3           11  244207.0       NaN
4           12  480595.0       NaN
...        ...       ...       ...
362995  499977       NaN   33906.0
362996  499977       NaN  304146.0
362997  499977       NaN  376850.0
362998  499979       NaN   29586.0
362999  499986       NaN  201867.0

[363000 rows x 3 columns]

In [14]:
def check_distinct(x):
  S=set([])
  for name in x.columns:
    S=S.union(set([item[0] for item in x[[name]].values]))
  return S
check_distinct(l4)

{262146,
 262147,
 2,
 131077,
 6,
 262152,
 12,
 13,
 15,
 17,
 393236,
 131092,
 22,
 24,
 393241,
 393240,
 393242,
 393244,
 131105,
 262177,
 262178,
 131110,
 39,
 38,
 41,
 393257,
 131119,
 393264,
 131123,
 131124,
 57,
 262203,
 60,
 262205,
 393278,
 62,
 393280,
 65,
 67,
 68,
 131143,
 393290,
 262219,
 131146,
 131149,
 131150,
 262226,
 131156,
 393300,
 131157,
 131159,
 262232,
 262228,
 131163,
 393307,
 262235,
 393309,
 131166,
 91,
 94,
 96,
 262243,
 100,
 393317,
 103,
 262251,
 262252,
 131179,
 393326,
 131180,
 115,
 262261,
 393337,
 393339,
 393340,
 131196,
 262270,
 127,
 131,
 132,
 262277,
 393351,
 136,
 262279,
 138,
 262282,
 393355,
 131213,
 262281,
 145,
 262290,
 262292,
 131221,
 131222,
 131227,
 393373,
 262302,
 160,
 161,
 131235,
 262308,
 131238,
 393384,
 393385,
 131241,
 262318,
 131248,
 176,
 178,
 182,
 183,
 131257,
 262329,
 185,
 262330,
 190,
 393412,
 131268,
 201,
 393420,
 205,
 131277,
 131279,
 208,
 131282,
 393429,
 262361,
 393434,
 393437,
 222,
 131294,
 131296,
 224,
 225,
 228,
 131302,
 232,
 234,
 393450,
 236,
 262378,
 131306,
 237,
 131311,
 393458,
 262388,
 131317,
 244,
 250,
 393472,
 262403,
 260,
 131336,
 262409,
 393482,
 262410,
 393488,
 262417,
 131348,
 131350,
 282,
 288,
 262432,
 131363,
 262438,
 297,
 299,
 262451,
 262453,
 131382,
 131383,
 312,
 131384,
 131385,
 393530,
 316,
 131389,
 262461,
 393535,
 131392,
 131395,
 131397,
 393542,
 262478,
 131407,
 262479,
 262480,
 393550,
 339,
 338,
 262489,
 131418,
 393563,
 131420,
 346,
 131422,
 393567,
 131424,
 262498,
 359,
 370,
 393586,
 131445,
 262518,
 262525,
 382,
 383,
 131456,
 393611,
 393612,
 395,
 262544,
 402,
 403,
 262549,
 262550,
 393622,
 393630,
 262561,
 419,
 262564,
 262566,
 423,
 393639,
 393641,
 393642,
 393638,
 131500,
 131501,
 262574,
 428,
 432,
 131505,
 393650,
 434,
 435,
 262578,
 131509,
 439,
 443,
 262595,
 131527,
 456,
 262602,
 461,
 393678,
 464,
 393682,
 468,
 262621,
 480,
 131554,
 262627,
 262628,
 393700,
 483,
 487,
 131560,
 488,
 131564,
 262636,
 492,
 262638,
 393712,
 393714,
 393718,
 503,
 262647,
 262653,
 131585,
 515,
 262660,
 517,
 393734,
 393736,
 393737,
 131595,
 524,
 528,
 534,
 131606,
 540,
 542,
 543,
 131618,
 546,
 131620,
 131622,
 393769,
 393770,
 262697,
 557,
 558,
 131630,
 393776,
 262703,
 131632,
 564,
 565,
 393781,
 393783,
 393784,
 571,
 131644,
 262717,
 131650,
 579,
 262727,
 585,
 131658,
 131657,
 393804,
 592,
 286685,
 262738,
 595,
 393813,
 598,
 262744,
 393816,
 131674,
 262747,
 262748,
 131677,
 262752,
 615,
 262764,
 262765,
 131693,
 623,
 624,
 262767,
 626,
 262773,
 131703,
 633,
 262778,
 262779,
 393851,
 393852,
 393850,
 636,
 131710,
 639,
 393856,
 641,
 131716,
 393860,
 262787,
 262791,
 649,
 131722,
 652,
 131725,
 393872,
 131730,
 660,
 393880,
 393882,
 393883,
 393887,
 131745,
 393891,
 680,
 682,
 683,
 131754,
 692,
 262836,
 262838,
 262841,
 698,
 393915,
 262844,
 131769,
 705,
 707,
 131781,
 710,
 131782,
 262856,
 262859,
 715,
 262861,
 393933,
 131788,
 131793,
 262866,
 262867,
 393937,
 723,
 393944,
 393949,
 131806,
 262880,
 262887,
 744,
 393962,
 748,
 131824,
 753,
 755,
 131827,
 393973,
 262900,
 393974,
 757,
 762,
 131834,
 764,
 131839,
 131840,
 393985,
 131845,
 131847,
 262920,
 262922,
 781,
 782,
 262926,
 784,
 790,
 262935,
 795,
 131868,
 262941,
 394014,
 262945,
 131874,
 394019,
 262948,
 805,
 394021,
 131878,
 262955,
 812,
 131883,
 262958,
 814,
 817,
 262964,
 394036,
 394037,
 820,
 262966,
 823,
 394042,
 828,
 131901,
 131902,
 394046,
 832,
 262974,
 131905,
 835,
 131909,
 131913,
 262987,
 394059,
 262992,
 131921,
 131923,
 131924,
 853,
 854,
 262999,
 856,
 263003,
 394076,
 131932,
 863,
 131938,
 263011,
 263013,
 394088,
 872,
 263018,
 394091,
 131948,
 394093,
 131951,
 131954,
 263027,
 884,
 394101,
 883,
 394102,
 263030,
 394110,
 897,
 899,
 901,
 904,
 263049,
 131976,
 394122,
 909,
 131983,
 263057,
 919,
 131991,
 921,
 394136,
 131997,
 927,
 263072,
 263073,
 132003,
 933,
 132007,
 935,
 937,
 394154,
 939,
 263084,
 132014,
 394159,
 944,
 394164,
 263092,
 950,
 263095,
 951,
 953,
 132028,
 957,
 132029,
 958,
 394175,
 132036,
 132037,
 967,
 969,
 970,
 972,
 132044,
 394191,
 263121,
 978,
 979,
 981,
 132053,
 263128,
 263133,
 394206,
 991,
 132063,
 132066,
 132067,
 263142,
 263143,
 132071,
 394217,
 263144,
 132074,
 394226,
 132083,
 132084,
 132087,
 263160,
 132089,
 1020,
 1021,
 394239,
 132098,
 1028,
 263173,
 263177,
 132106,
 1041,
 1043,
 132117,
 1046,
 132119,
 394262,
 1049,
 263194,
 394267,
 132124,
 394272,
 1057,
 132131,
 1065,
 132138,
 132144,
 132145,
 263217,
 132148,
 394294,
 1079,
 263224,
 132152,
 1080,
 394299,
 263228,
 263227,
 394303,
 1089,
 132166,
 394310,
 1096,
 132169,
 1098,
 263244,
 1100,
 1104,
 263252,
 263254,
 394330,
 132193,
 1123,
 263269,
 263272,
 394356,
 132214,
 132215,
 1145,
 263292,
 1149,
 1150,
 1151,
 132224,
 1152,
 132231,
 1159,
 263306,
 263309,
 263311,
 394384,
 1169,
 1170,
 1168,
 1176,
 394393,
 132251,
 132254,
 1182,
 394400,
 132256,
 132258,
 394404,
 263333,
 394406,
 132267,
 394412,
 132270,
 263343,
 263346,
 132281,
 1211,
 394428,
 132285,
 263355,
 1212,
 394432,
 1217,
 1215,
 132287,
 1220,
 1216,
 263366,
 1223,
 263368,
 1219,
 394437,
 132302,
 132305,
 394450,
 1235,
 263380,
 394453,
 394454,
 1240,
 394456,
 263388,
 1244,
 394462,
 1249,
 394465,
 394470,
 1255,
 263399,
 394474,
 1259,
 1258,
 132335,
 394481,
 263412,
 132340,
 394486,
 1273,
 1276,
 263422,
 394496,
 132353,
 263425,
 1280,
 394502,
 1287,
 1289,
 394505,
 263437,
 132368,
 263441,
 263442,
 132371,
 1299,
 1302,
 1309,
 132382,
 263454,
 1313,
 394530,
 132385,
 132388,
 1316,
 1318,
 132391,
 1320,
 263465,
 263462,
 1321,
 132397,
 1327,
 1328,
 132402,
 1331,
 263477,
 132405,
 132407,
 1336,
 394553,
 394554,
 263483,
 1339,
 1340,
 132414,
 132415,
 394560,
 132418,
 1348,
 1350,
 394570,
 1356,
 263500,
 132430,
 263503,
 394572,
 1358,
 1362,
 132435,
 263509,
 132442,
 394587,
 1372,
 1373,
 263518,
 263521,
 1381,
 394603,
 132463,
 394608,
 263538,
 1398,
 132471,
 132472,
 132474,
 263547,
 263548,
 1408,
 132485,
 132486,
 394631,
 1414,
 132489,
 263564,
 263565,
 263567,
 263569,
 132498,
 1427,
 394649,
 263579,
 263581,
 132510,
 394656,
 1441,
 394657,
 1443,
 1442,
 263589,
 132516,
 132518,
 263590,
 132522,
 1451,
 263596,
 1454,
 132527,
 132529,
 1458,
 132531,
 394675,
 132536,
 263609,
 132538,
 394684,
 1469,
 263612,
 1472,
 132544,
 394692,
 394693,
 1478,
 1479,
 1481,
 394698,
 394700,
 1485,
 394702,
 132559,
 394705,
 1491,
 263636,
 394709,
 1496,
 132570,
 263642,
 394718,
 132579,
 394724,
 394728,
 394731,
 132588,
 394733,
 1521,
 132595,
 132596,
 1529,
 394745,
 132602,
 1534,
 263678,
 394753,
 263681,
 394755,
 1538,
 132620,
 263695,
 394772,
 1557,
 394776,
 132632,
 263706,
 394781,
 394782,
 1567,
 263714,
 1572,
 263716,
 394791,
 1576,
 394792,
 394793,
 1577,
 263724,
 132652,
 1584,
 263729,
 1585,
 394803,
 1588,
 263737,
 132668,
 263741,
 394814,
 132674,
 263747,
 1604,
 394823,
 1608,
 1613,
 132685,
 263759,
 132689,
 263762,
 132690,
 263765,
 263766,
 263768,
 1626,
 263771,
 132699,
 263773,
 394847,
 132711,
 263785,
 263789,
 1646,
 132722,
 132728,
 1657,
 1660,
 394877,
 1662,
 1666,
 1667,
 132740,
 394884,
 394885,
 263813,
 394887,
 263814,
 132746,
 394894,
 132750,
 132752,
 1681,
 263826,
 263832,
 132763,
 132767,
 394914,
 132770,
 263844,
 263845,
 263850,
 263855,
 1712,
 263858,
 132788,
 1720,
 132793,
 1727,
 1728,
 1729,
 394948,
 263877,
 394950,
 394951,
 394952,
 394956,
 394958,
 1743,
 1744,
 1746,
 263891,
 394964,
 394962,
 1747,
 132823,
 1749,
 132825,
 1754,
 263899,
 132826,
 132830,
 394975,
 263911,
 1769,
 394985,
 263915,
 1775,
 263922,
 394995,
 263923,
 394996,
 132854,
 132855,
 132851,
 263926,
 132858,
 263937,
 395011,
 395012,
 132869,
 395013,
 395016,
 263945,
 263947,
 395023,
 263951,
 1816,
 1817,
 132890,
 132893,
 132895,
 132898,
 263970,
 395043,
 263971,
 263974,
 395047,
 1832,
 395052,
 263984,
 132914,
 263986,
 132918,
 1846,
 ...}

In [ ]:
S=set([])
for name in l4.columns:
  S.union(set([item[0] for item in l4[[name]].values]))
S

set()

In [19]:
def get_full_key_dict(x):
    S=set([])
    for name in x.columns:
      S=S.union(set([item[0] for item in x[[name]].values]))
    return S
def dict_123(x):
    dict_key=list(get_full_key_dict(x))
    ori_1=x.values
    d={key : [] for key in dict_key}
    for item in ori_1:
      if item[0] in d:
        for i in range(1,len(item)):
            d[item[0]].append(item[i])
      else: 
        d[item[0]]=[]
    return d
def dict_456(x):
    dict_key=list(get_full_key_dict(x))
    ori_1=x.values
    d={key : [] for key in dict_key}
    for item in ori_1:
      for i in range(len(item)):
          if item[i] in d:
            for j in range(len(item)):
                  d[item[i]].append(item[j])
          else: 
            d[item[i]]=[]
    return d
def dict_transform(x):
    d={key : [] for key, value in x.items()}
    for key, value in x.items():
        d[key]=value
        d[key].append(key)
        d[key]=list(set(d[key]))
    return d

check_distinct(l4)

    
dl1=dict_transform(dict_123(l1))
dl2=dict_transform(dict_123(l2))
dl3=dict_transform(dict_123(l3))
dl4=dict_transform(dict_456(l4))
dl5=dict_transform(dict_456(l5))
dl6=dict_transform(dict_456(l6))

[158320, 262146, 23003]
[158320, 262146, 23003]
[158320, 262146, 23003]

In [ ]:
data_dict={i:[] for i in range(1,len(data['Id']))}

In [ ]:
#def dict_transform_final(x):
 # d={}
  #for key, value in x.items():
   # S=''
    #for item in value:
     # S+=str(item)+'_'
    #d[S]=value